/*.counter-item {*/
/*  border-radius: 8px;*/
/*  border: 1px solid deepskyblue;*/
/*  padding: 16px;*/
/*  width: 200px;*/
/*}*/

/*.counter-display {*/
/*  background: deepskyblue;*/
/*  text-align: center;*/
/*  font-size: 32px;*/
/*  border-radius: 8px;*/
/*  padding: 20px 0;*/
/*  margin-bottom: 20px;*/
/*  font-weight: 700;*/
/*}*/

/*.red {*/
/*  color: red;*/
/*}*/

/*.black {*/
/*  color: black;*/
/*}*/

/*.button-wrapper {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  border: 1px solid deepskyblue;*/
/*  padding: 8px;*/
/*  border-radius: 8px;*/
/*}*/

/*.button {*/
/*  background: deepskyblue;*/
/*  border-radius: 8px;*/
/*  font-size: 16px;*/
/*  width: 46%;*/
/*  height: 40px;*/
/*}*/

/*.button:disabled {*/
/*  cursor: auto;*/
/*}*/


.counter {
    border: 2px solid blue;
    border-radius: 10px;
    padding: 10px 20px;
    width: 300px;
    height: 250px;
}

.counter-display {
    background: blue;
    height: 60%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

span {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
}

.button-panel {
    height: 30%;
    border-radius: 10px;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.counter-button {
    cursor: pointer;
    border: 10px;
    background: blue;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    width: 45%;
    font-size: 32px;
}

.counter-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.red {
    color: red;
    font-size: 56px;
}

.black {
    font-size: 50px;
    color: black;
}